<!DOCTYPE html>
<html>
<head>
    <title>Image Processing App</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Welcome to the Image Processing App</h1>
        <h3 class="my-4">Upload an image</h3>
        <!-- index.html -->
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.image.label }}<br>
                {{ form.image(size=32) }}<br>
                {% for error in form.image.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p><input type="submit" value="Upload"></p>
        </form>
    </div>
</body>
</html>